**/node_modules
**/dist
**/coverage
**/.cache
**/.pytest_cache
**/__pycache__
**/*.pyc
**/*.pyo
**/*.pyd
**/*.log

.git
.github
.vscode

data/*.db
data/*.db-*
data/*.bak
data/*.repair_bak

**/.env
**/.env.*

